nav.navbar {
    height: 86px;
    background-color: rgba(var(--background-color), 1) !important;
    z-index: 10 !important;
}

nav.navbar .nav-link {
    font-size: 0.95rem;
    font-family: var(--nunito-semibold);
    color: rgba(var(--brown-color), 1);
}

nav.navbar .nav-link:hover,
nav.navbar .nav-link.active {
    color: rgba(var(--primary-color), 1);
}

nav.navbar .button-hamburger {
    width: 52px;
    height: 52px;
    border-radius: 9999px;
    background-color: transparent;
    border: 1px solid rgba(var(--primary-color), 0.62);
}

nav.navbar .button-hamburger:hover,
nav.navbar .button-hamburger.active {
    background-color: rgba(var(--primary-color), 0.12);
}
