section.partner .paw-item {
    top: -60px;
    left: -50px;
}

section.partner .partner-sosmed p {
    font-size: 1rem;
    font-family: var(--nunito-bold);
}

section.partner .partner-sosmed .link-item {
    width: 42px;
    height: 42px;
    border-radius: 9999px;
    background-color: rgba(var(--primary-color), 1);
}

section.partner .partner-sosmed .link-item:hover {
    opacity: 0.9;
}
