.topbar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(var(--background-color), 1);
    z-index: 9 !important;
    opacity: 0;
    transform: translateY(-100%);
    transition: 800ms !important;
}

.topbar.active {
    opacity: 1;
    transform: translateY(0);
    transition: 800ms !important;
}

.topbar .topbar-link {
    gap: 20px;
}

.topbar .topbar-link a {
    font-size: 2rem;
    font-family: var(--nunito-extrabold);
    color: rgba(var(--brown-color), 1);
}

.topbar .topbar-link a:hover,
.topbar .topbar-link a.active {
    color: rgba(var(--primary-color), 1);
}
